CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-615-e4=y

# Размеры разделов (на 16MB Flash)
CONFIG_TARGET_KERNEL_PARTSIZE=4096
CONFIG_TARGET_ROOTFS_PARTSIZE=12288

# Файловая система
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_ROOTFS_JFFS2=y

# Базовые пакеты
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_uci=y
CONFIG_PACKAGE_opkg=y

# Сеть
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
#CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_nftables=y

# Wi-Fi (Atheros)
CONFIG_PACKAGE_kmod-ath=y
CONFIG_PACKAGE_kmod-ath9k=y
CONFIG_PACKAGE_kmod-ath9k-common=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y

# LuCI Web-интерфейс
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-ssl=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_LUCI_LANG_ru=y

# Удаление ненужного
CONFIG_PACKAGE_ppp=n
CONFIG_PACKAGE_pppoe=n
CONFIG_PACKAGE_ppp-mod-pppoe=n
CONFIG_PACKAGE_ipv6helper=n

# Размер и отладка
CONFIG_DEVEL=n
CONFIG_KERNEL_KALLSYMS=n
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_STRIP_ASM_SYMS=y
